html {
  font-family: roboto, sans-serif;
}

.btn {
  padding-top: 0;
  padding-bottom: 0;
  background-color: skyblue;
  border-color: skyblue;
}

.btn:hover {
  background-color: grey;
  border-color: grey;
}

a {
  color: skyblue;
  text-decoration: none;
}

a:hover {
  color: grey;
}

.btn-main {
  background-color: skyblue;
  border-color: skyblue;
}

.btn-main:hover {
  background-color: grey;
  border-color: grey;
}

.footer-text {
  color: grey;
  font-size: 10px;
}

.logo {
  padding-right: 6em;
}

img {
  opacity: .8;
}

img:hover {
  opacity: 1;
}

.txt-wrap {
  background-color: white;
}

.bluetext {
  color: skyblue;
}

.grayscale {
  filter: grayscale(100%);
}

.white {
  color: white;
}

.blue {
  color: skyblue;
}

tbody th {
  font-weight: normal;
  font-style: italic;
}

tfoot {
  font-weight: bold;
}

tbody tr:nth-child(odd) {
  background-color: #e2e2e2;
}

.year {
  width: 7em;
}

.distance {
  width: 6em;
}

.notes {
  width: 16em;
}

table {
  min-width: 50em;
}

@media only screen and (min-width: 60em) {

  .table-wrap {
    overflow: visible;
  }

}

.whitebg {
  background-color: white;
}
