html {
  font-family: "roboto", sans-serif;
}

a {
  text-decoration: none;
}

.btn {
  padding-top: 0;
  padding-bottom: 0;
  background-color: skyblue;
  border-color: skyblue;
}

.btn:hover {
  background-color: grey;
  border-color: grey;
}

a {
  color: skyblue;
}

a:hover {
  color: grey;
}


.btn-main {
  background-color: skyblue;
  border-color: skyblue;
}

.btn-main:hover {
  background-color: grey;
  border-color: grey;
}

.footer-text {
  color: grey;
  font-size: 10px;
}

.logo {
  padding-right: 6em;
}

img {
  opacity: 0.8;
}

img:hover {
    opacity: 1.0;
}

.txt-wrap {
  background-color: white;
}

.para {
  color: lightgrey;
}

.bluetext {
  color: skyblue;
}
